<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" strict="true">
 <Appenders>
          <Appender type="console" name="STDOUt"  >
           <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        
          </Appender>
          <Appender type="File" name="file" filename="E:\Project Work\eclipse-workspace\Dukan_Web\src\main\resourcefolder\logoffile">
         <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
          </Appender>
 </Appenders>
 
 <Loggers>
    <Root level="All">
      <AppenderRef ref="STDOUt"/>
    </Root>
  </Loggers>
</Configuration> 